{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block content %}


    <div class="container">
             <h4>Filtrer les sorties :</h4>
        <div class="row">

                <div id="search" class="col-md-10"> <!--col left with form-->

                    <form id="search-form" method="post" action="{{ path('search') }}" novalidate="novalidate" class="">
                            <div class="row"> <!--row inside form to split it in 2 col-->

                               <div class="col-md-6"> <!--col left inside row form-->
                                    <div class="row"><!--first field -->
                                        <label class="align-self-center col-sm-6" for="site">Site </label>
                                        <select name="site" id="site" size="1" class="form-control col-sm-6">
                                            <option value="0">Tous</option>
                                            {% for s in sites %}
                                                {% if site == "" %}
                                                    {% if app.user.site.id == s.id %}
                                                        <option value="{{ s.id }}" selected="selected">{{ s.name }}</option>
                                                    {% else %}
                                                        <option value="{{ s.id }}">{{ s.name }}</option>
                                                    {% endif %}
                                                {% else %}
                                                    {% if site == s.id %}
                                                        <option value="{{ s.id }}" selected="selected">{{ s.name }}</option>
                                                    {% else %}
                                                        <option value="{{ s.id }}">{{ s.name }}</option>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div><!--first field -->
                                    <div class="row"><!--second field-->
                                        <label class="align-self-center col-sm-6" for="searchBar">Le nom de la sortie contient  </label>
                                        <input class="form-control col-sm-6" name="searchBar" id="searchBar" autofocus type="search" placeholder="Search" value="{{ searchBar }}">
                                    </div><!--second field-->
                                    <div class="row"><!--third field -->
                                        <label class="align-self-center col-sm-6" for="dateStart">Date entre le</label>
                                        <input class="form-control col-sm-6" type="date" name="dateStart" id="dateStart"  value="{{ dateStart }}">
                                    </div><!--third field -->
                                    <div class="row"><!--fourth field -->
                                        <label class="align-self-center col-sm-6" for="dateEnd">et le </label>
                                        <input class="form-control col-sm-6" type="date" name="dateEnd" id="dateEnd" value="{{ dateEnd }}">
                                    </div><!--fourth field -->
                               </div><!--col left inside row form-->

                                <div class="col-md-6"><!--col right inside row form-->
                                    <div><!--first field-->
                                        {% if organizer != "on" %}
                                            <input class="" type="checkbox" name="organizer" id="organizer">
                                        {% else %}
                                            <input class="" type="checkbox" name="organizer" id="organizer" checked>
                                        {% endif %}
                                        <label for="organizer" class="">Sorties dont je suis l'organisateur/trice</label>
                                    </div><!--first field-->
                                    <div><!--second field-->
                                        {% if signedOn != "on" %}
                                            <input class="" type="checkbox" name="signedOn" id="signedOn">
                                        {% else %}
                                            <input class="" type="checkbox" name="signedOn" id="signedOn" checked>
                                        {% endif %}
                                        <label for="signedOn" class="">Sorties auxquelles je suis inscrit/e</label>
                                    </div><!--second field-->
                                    <div><!--third field-->
                                        {% if notSignedOn != "on" %}
                                            <input class="" type="checkbox" name="notSignedOn" id="notSignedOn">
                                        {% else %}
                                            <input class="" type="checkbox" name="notSignedOn" id="notSignedOn" checked>
                                        {% endif %}
                                        <label for="notSignedOn" class="">Sorties auxquelles je ne suis pas inscrit/e</label>
                                    </div><!--third field-->
                                    <div><!--fourth field-->
                                        {% if pastEvents != "on" %}
                                            <input class="" type="checkbox" name="pastEvents" id="pastEvents">
                                        {% else %}
                                            <input class="" type="checkbox" name="pastEvents" id="pastEvents" checked>
                                        {% endif %}
                                        <label for="pastEvents" class="">Sorties passées</label>
                                    </div><!--fourth field-->

                                        <button type="submit" class="btn btn-md btn-primary col-sm-6">Rechercher</button>

                                </div> <!--col right inside row form-->
                            </div><!--row inside form to split it in 2 col-->
                        </form>

                </div><!--col left-->

            <div id="welcome" class="col-md-2"> <!--col right-->
                <h5>{{ today | date("d/m/Y") }}</h5>
                <p>Bonjour {{ app.user.name }} !</p>
                <a href="{{ path('create_event') }}"><button class="btn btn-lg btn-primary">Créer une sortie</button></a>
            </div><!--col right-->

        </div> <!--row-->
    </div> <!--container-->

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Site</th>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits / Places</th>
                <th>Etat</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.site.name }}</td>
                <td>{{ event.name }}</td>
                <td> {{ event.rdvTime | date("d/m/Y") }} </td>
                <td> {{ event.signOnDeadline | date("d/m/Y") }} </td>
                <td> / {{ event.maxNumber }} </td>
                <td> {{ event.state }} </td>
                <td> <a href="{{ path('show_profile', {'id':event.organizer.id}) }}">{{ event.organizer.firstName }} {{ event.organizer.name }} </a></td>
                <td>
                    <a href="{{ path('display_event', {'eventId':event.id}) }}"><button class="btn btn-sm btn-primary">Voir l'événement</button></a>
                {% if 0 is same as(0) %}
                    <a href="{{ path('sign_on_to_event', {'idEvent':event.id}) }}"><button class="btn btn-sm btn-primary">S'inscrire</button></a>
                {% else %}
                    <a href="{{ path('withdraw_event', {'idEvent' : event.id}) }}"><button class="btn btn-sm btn-primary">Se désinscrire</button></a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
