{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Profil{% endblock %}

{% block content %}

    <div class="container-profile">
        <h1>Profil de {{ user.username }}</h1>

        <div class="profile-img"><!--col left-->
            <img src="{{ asset('img/profile-pictures/') }}{{ user.profilePictureName }}" alt="profile photo">
        </div><!--col left-->

        <div class="profile-info"><!--col right-->
            <div class="row-justify-between">
                <label class="">Prénom:</label>
                <p class="col-6">{{ user.firstName }}</p>
            </div>
            <div class="row-justify-between">
                <label>Nom:</label>
                <p class="col-6">{{ user.name }}</p>
            </div>
            <div class="row-justify-between">
                <label>Promo:</label>
                <p class="col-6">{{ user.promo }}</p>
            </div>
        <!--    <div class="row-justify-between">
                <label>Email:</label>
                <p class="col-6">{{ user.email }}</p>
            </div>-->
            <div class="row-justify-between">
                <label>Ville de rattachement:</label>
                <p class="col-6">{{ user.site.name }}</p>
            </div>
            <a href="javascript:history.go(-1)"><button type="button" class="btn btn-md btn-primary" >Retour</button></a>
        </div><!--col right-->
    </div><!--container-->

{% endblock %}