{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Annuler {% endblock %}

{% block content %}

    <h1 class="cancel-event-title">Annuler la sortie</h1>

        <div class="container event-display-cancel">
            <div class="row-justify-between">
                <label for="event-name">Nom de la sortie : </label>
                <p class="col-6" id="event-name">{{ event.name }}</p>
            </div>
            <div class="row-justify-between">
                <label for="event-rdvtime">Date de la sortie : </label>
                <p class="col-6" id="event-rdvtime">{{ event.rdvTime| date('d/m/Y') }}</p>
            </div>
            <div class="row-justify-between">
                <label for="event-site">Site : </label>
                <p class="col-6" id="event-site">{{ event.site.name }}</p>
            </div>
            <div class="row-justify-between">
                <label for="event-lieu">Lieu : </label>
                {#<p class="col-6" id="event-lieu">{{ event.location }}</p>#}
            </div>


            <form action="{{ path('cancel_event', {'eventId': event.id}) }}" method="post">
                <div>
                    <div>
                        <div><label for="motif">Motif : </label></div>
                        <textarea id="motif" name="motif"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary ">Annuler la sortie</button>

            </form>
        </div>

{% endblock %}