{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Evenement{% endblock %}

{% block content %}

    <div class="container-event">
        <h1>Détails de la sortie</h1>

        <div class="info-event"><!--info event-->
            <h4>Informations</h4>
            <div><!--info top-->
                <div class="row-justify-between align-items-baseline">
                    <label>Nom de la sortie : </label>
                    <p class="col-6">{{ event.name }}</p>
                </div>
                <div class="row-justify-between align-items-baseline">
                    <label>Date et heure de la sortie : </label>
                    <p class="col-6">{{ event.rdvTime | date("d/m/Y H:i")}}</p>
                </div>
                <div class="row-justify-between align-items-baseline">
                    <label>Date limite d'inscription : </label>
                    <p class="col-6">{{ event.signOnDeadline |date("d/m/Y") }}</p>
                </div>
                <div class="row-justify-between align-items-baseline">
                    <label>Nombre de places : </label>
                    <p class="col-6">{{ event.maxNumber }}</p>
                </div>
                <div class="row-justify-between align-items-baseline">
                    <label>Durée : </label>
                    <p class="col-6">{{ event.duration }} minutes</p>
                </div>
                {% if event.description is not empty %}
                    <div class="row-justify-between align-items-baseline">
                        <label>Description et infos : </label>
                        <p class="col-6">{{ event.description }} </p>
                    </div>
                {% endif %}
            </div><!--info top-->
            <div><!--info bottom-->
                <div class="row-justify-between align-items-baseline">
                    <label>Campus de l'organisateur : </label>
                    <p class="col-6"> {{ event.site.name }}</p>
                </div>
                <div class="row-justify-between align-items-baseline">
                    <label>Lieu : </label>
                    <p class="col-6">{{ event.location.name }}</p>
                </div>
                <div class="row-justify-between align-items-baseline">
                    <label>Adresse : </label>
                    <p id="street" class="col-6">{{ event.location.street }}</p>
                </div>
                <div class="row-justify-between align-items-baseline">
                    <label>Code Postal : </label>
                    <p id="zipcode" class="col-6">{{ event.location.zipCode }}</p>
                </div>
                <div class="row-justify-between align-items-baseline">
                    <label>Code Postal : </label>
                    <p id="city" class="col-6">{{ event.location.city }}</p>
                </div>
                <div class="row-justify-between align-items-baseline">
                    <label>Latitude : </label>
                    <p  id="lat" class="col-6">{{ event.location.latitude }}</p>
                </div>
                <div class="row-justify-between align-items-baseline">
                    <label>Longitude : </label>
                    <p id="lon" class="col-6">{{ event.location.longitude }}</p>
                </div>
            </div><!--info bottom-->
        </div><!--info event-->

        <div id="map">
            <!-- map display here -->
        </div>
        <div>
            <a href="javascript:history.go(-1)"><button type="button" class="btn btn-md btn-primary" title="back">Retour</button></a>
            {% if app.user.id is same as (event.organizer.id) %}
                <a href="{{ path('modify_event', {'eventId':event.id}) }}"><button type="button" class="btn btn-md btn-primary" title="modify">Modifier la sortie</button></a>
            {% endif %}
        </div>
        <div>
        {% if app.user in event.participants %}
            <a href="{{ path('withdraw_event', {'eventId' : event.id}) }}"><button class="btn btn-md btn-primary" title="Se désister">Se désister de la sortie</button></a>
        {% else %}
            <a href="{{ path('sign_on_to_event', {'eventId':event.id}) }}"><button class="btn btn-md btn-primary" title="S'inscrire">S'inscrire à la sortie</button></a>
        {% endif %}
        </div>
    </div><!--container-->


        <div class="participants-event"><!--participants events-->
            <h4>Liste des participants inscrits</h4>
            <table class="table table-striped">
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                {% for participant in participants %}
                    <tr>
                        <td><a href="{{ path('show_profile', {'id':participant.id}) }}">{{ participant.username }}</a></td>
                        <td><a href="{{ path('show_profile', {'id':participant.id}) }}">{{ participant.firstName }} {{ participant.name }}</a></td>

                    </tr>
                {% endfor %}

            </table>
        </div><!--participants events-->
{% endblock %}
