{% extends 'base.html.twig' %}

{% block title %}Event Creation{% endblock %}

{% block content %}


    <h1>Détails de la sortie</h1>

        <div id="event-details" class="container">
            <div class="row">
                <div class="row col-sm-12 col-md-6">
                    <div class="row col-12">
                        <label class="col-12">Nom de la sortie </label>
                        <p class="col-12">{{ event.name }}</p>
                    </div>
                    <div class="row col-12"><label>Date et heure de la sortie </label><p> {{ event.rdvTime | date("d/m/Y H:i")}}</p></div>
                    <div class="row col-12"><label>Date limite d'inscription </label><p> {{ event.signOnDeadline |date("d/m/Y") }}</p></div>
                    <div class="row col-12"><label>Nombre de places </label><p> {{ event.maxNumber }}</p></div>
                    <div class="row col-12"><label>Durée  </label><p> {{ event.duration }} minutes</p></div>
                    <div class="row col-12"><label>Description et infos </label><p> {{ event.description }}</p></div>
                </div>
                <div class="row col-sm-12 col-md-6">
                    <div class="row col-12"><label>Ville organisatrice </label><p> {{ event.site.name }}</p></div>
                    <div class="row col-12" ><label>Lieu </label><p>#</p></div>
                    <div class="row col-12"><label>Rue  </label><p>#</p></div>
                    <div class="row col-12"><label>Code Postal  </label><p>#</p></div>
                    <div class="row col-12"><label>Latitude  </label><p>#</p></div>
                    <div class="row col-12"><label>Longitude </label><p>#</p></div>
                </div>
            </div>
        </div>

        <div class="row col-12">

                <p>Liste des participants inscrits</p>
                <table class="table table-striped">
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                    </tr>
                    {% for participant in participants %}
                        <tr>
                            <a href="{{ path('show_profile', {'id':participant.id}) }}"><td>{{ participant.username }}</td></a>
                            <td>{{ participant.firstName }} {{ participant.name }}</td>
                        </tr>
                    {% endfor %}

                </table>

        </div>
        <div>
            <a href="javascript:history.go(-1)"><button type="button" >Retour</button></a>
        </div>

{% endblock %}
