{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Créer sortie{% endblock %}

{% block content %}

    <h1>Créer votre sortie</h1>
    {{ form_start(eventForm, {'attr':{'novalidate': 'novalidate'}}) }}
    {{ form_widget(eventForm) }}
        <button type="submit" class="btn btn-md btn-primary">Créer</button>
    {{ form_end(eventForm) }}
        <a href="{{ path('new_location') }}"><button class="btn btn-md btn-primary">Créer un nouveau Lieu</button></a>

{% endblock %}
