{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Changer Mot de passe{% endblock %}

{% block content %}

    <div class="container">

            <h1 class="">{{ user.name }}, tu veux changer ton mot de passe ?</h1>

                {{ form_start(changePasswordForm) }}
                {{ form_widget(changePasswordForm) }}
                    <button class="btn btn-primary btn-md">Changer</button>
                {{ form_end(changePasswordForm) }}

    </div><!--container-->


{% endblock %}
