{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Mon Profil{% endblock %}

{% block content %}

      <div class="container">
          <h2 class="text-center">Mon profil</h2>

          <div class="row">

              <div class=""><!--col left-->
                <img class="profile-img " src="{{ asset('img/profile-pictures/') }}{{ user.profilePictureName }}" alt="ta photo, banane">
              </div><!--col left-->

              <div class="profile-info "><!--col right-->
                    {{ form_start(registerForm, {'attr':{'class':'', 'novalidate': 'novalidate'}}) }}
                    {{ form_widget(registerForm) }}
                    <button class="btn btn-md btn-primary">Enregistrer</button>
                    {{ form_end(registerForm) }}
              </div><!--col right-->

          </div><!--row-->
      </div><!--container-->

{% endblock %}