{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Mon Profil{% endblock %}

{% block content %}

      <div class="container-profile">
          <h1 class="">Profil de {{ user.username }}</h1>

          {#<div class="row-justify-between">#}
              <div class="profile-img"><!--col left-->
                <img src="{{ asset('img/profile-pictures/') }}{{ user.profilePictureName }}" alt="ta photo, banane">
              </div><!--col left-->

              <div class="profile-info"><!--col right-->
                    {{ form_start(registerForm, {'attr':{'novalidate': 'novalidate'}}) }}
                    {{ form_widget(registerForm) }}
                    <button class="btn btn-md btn-primary">Enregistrer</button>
                    {{ form_end(registerForm) }}
                    {#AUTH#}
                    {#<a href="{{ path('change_password') }}" class="btn btn-md btn-primary">Changer de mot de passe</a>#}
                    <a href="javascript:history.go(-1)"><button type="button" class="btn btn-md btn-primary" >Retour</button></a>
              </div><!--col right-->

          {#</div><!--row-->#}
      </div><!--container-->

{% endblock %}