{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Ajout utilisateur{% endblock %}

{% block content %}

    <div class="my-profil-flex-container">
        <div class="my-profil-title">
            <h2>Ajouter un utilisateur</h2>
        </div>
        <h3>Manuellement</h3>
        <div class="my-profil-content-container">
            <div class="my-profil-details col-9">
                {{ form_start(registerForm, {'attr':{'class':'col-sm-12', 'novalidate': 'novalidate'}}) }}
                {{ form_widget(registerForm) }}
                <button class="btn btn-md btn-primary">Inscrire</button>
                {{ form_end(registerForm) }}
            </div>
        </div>

        <h3>Via fichier</h3>
        <div class="my-profil-content-container">
            <div class="my-profil-details col-9">
                {{ form_start(csvForm, {'attr':{'class':'col-sm-12', 'novalidate': 'novalidate'}}) }}
                {{ form_widget(csvForm) }}
                <button class="btn btn-md btn-primary">Charger fichier</button>
                {{ form_end(csvForm) }}
            </div>
        </div>
    </div>
{% endblock %}