{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Ajout utilisateur{% endblock %}

{% block content %}

    <div class="container-register">
        <h1>Ajouter un utilisateur</h1>
        <div class="manually">
            <h4>Manuellement</h4>
            <div class="">
                <div class="">
                    {{ form_start(registerForm, {'attr':{'novalidate': 'novalidate'}}) }}
                    {{ form_widget(registerForm) }}
                    <button class="btn btn-md btn-primary">Inscrire</button>
                    {{ form_end(registerForm) }}
                </div>
            </div>
        </div>

        <div class="byFile">
            <h4>Via fichier</h4>
            <div class="">
                <div class="">
                    {{ form_start(csvForm, {'attr':{'novalidate': 'novalidate'}}) }}
                    {{ form_widget(csvForm) }}
                    <button class="btn btn-md btn-primary">Charger fichier</button>
                    {{ form_end(csvForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}