{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Mot de Passe oublié{% endblock %}

{% block content %}

    <h2>Mot de passe oublié</h2>
    {{ form_start(resetForm) }}
    {{ form_widget(resetForm) }}
    <button href="{{ path('reset_password') }}" class="btn btn-primary">Réinitialiser mon mot de passe</button>
    {{ form_end(resetForm) }}

{% endblock %}