{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Réinitialistation mot de passe{% endblock %}

{% block content %}

    <h2>Mot de passe oublié</h2>

    <form action="{{ path('token_email', {'token':token}) }}" method="post">
        <label for="input-reset-password">Nouveau not de passe</label>
        <input id="input-reset-password" name="password" type="password">
        <input type="submit" value="réinitialiser">
    </form>


  {# {{ form_start(tokenForm) }}
    {{ form_widget(tokenForm) }}
        <button class="btn btn-primary">Réinitialiser</button>
    {{ form_end(tokenForm) }}#}

{% endblock %}