{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Moderations{% endblock %}

{% block content %}
    <h1>Moderations</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Utilisateur signaleur</th>
                <th>Utilisateur signalé</th>
                <th>Date du signalement</th>
                <th>Statut du signalement</th>
            </tr>
        </thead>
        <tbody>
        {% for moderation in moderations %}
            <tr>
                <td><a href="{{ path('show_profile', {'id':moderation.reporterId}) }}">{{ moderation.reporterName }}</a></td>
                <td><a href="{{ path('show_profile_reported_user', {'id':moderation.reportedUserId}) }}">{{ moderation.reportedUserName }}</a></td>
                <td> {{ moderation.date | date("d/m/Y")}}</td>
                <td> {{ moderation.status }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
