<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang="fr">
        <title>{% block title %}Sortir.com | {% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('fonts/fonts.css') }}">
    </head>
    <body>
        <header>
            <div id="site-title">
                <img src="{{ asset('img/logo.jpg') }}" alt="logo site">
                Sortir.com
            </div>
            <nav class="nav">
                <a href="{{ path('home') }}" class="nav-link">Accueil</a>
                {% if app.user %}
                <a href="{{ path('app_register', {'id':app.user.id}) }}" class="nav-link">Mon Profil</a>
                <a href="{{ path('create_event') }}" class="nav-link">Créer une sortie</a>
                <a href="{{ path('app_logout') }}" class="nav-link">Se déconnecter</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="nav-link">Se connecter</a>
                {% endif %}
            </nav>
        </header>

        <main>
            <!-- for Flash messages ...-->
            {% for label, messages in app.flashes %}
                {% for message in messages %}

                    <div class="alert alert-{{ label }}">{{ message }}</div>

                {% endfor %}

            {% endfor %}
            {% block content %}{% endblock %}
        </main>

        <footer>
            <nav class="nav">
                <a href="{{ path('home') }}" class="nav-link">Accueil</a>
                <a href="#" class="nav-link">FAQ</a>
                <a href="#" class="nav-link">CGU</a>
                <a href="#" class="nav-link">Contact</a>
            </nav>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
